      /* 이서윤체 폰트 적용을 위한 코드 */
      @font-face {
          font-family: "LeeSeoyun";
          src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff") format("woff");
          font-weight: normal;
          font-style: normal;
      }

      body {
          font-family: "LeeSeoyun";
          margin: 0;
          display: flex;
          justify-content: center;
          background-image: url("./background.png");
      }

      .container {
          width: 390px;
          background-color: #ff9d73;
          height: 100%;
      }

      .photos {
          margin-top: 30px;
      }

      .photo-frame {
          background-color: white;
          margin: 15px 20px;
          height: 200px;
          background-size: cover;
          position: relative;
          cursor: pointer
      }

      .photo-description {
          color: white;
          background-color: black;
          width: fit-content;
          padding: 0 20px;
          margin-bottom: 10px;
          border-radius: 10px;
          position: absolute;
          bottom: 0;
          transform: translate(-50%);
          left: 50%;
          opacity: 0;
      }

      .footer {
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .footer {
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .f-title {
          font-size: 25px;
          font-weight: 900;
          color: white;
      }

      .f-date {
          font-size: 15px;
          font-weight: 500;
          color: white;
      }

      #image1 {
          background-image: url("./img1.jpg");
      }

      #image2 {
          background-image: url("./img2.jpg");
      }

      #image3 {
          background-image: url("./img3.jpg");
      }

      .video {
          width: 100%;
          height: 100%;
      }

      .showText {
          opacity: 0;
      }

      .hideText {
          opacity: 1; /* (투명도) 100% 투명하다. 즉 안보인다. */
          transition: opacity 0.5s linear; /* 0.5초동안 천천히 나타나는 효과 */
      }